In [1]:
import tabula
import pandas as pd
import numpy as np

In [2]:
pdf = 'Data/Greenwich owner_statement_report.pdf'

In [3]:
table_dfs = []

In [4]:
table = tabula.read_pdf(pdf, pages='1')
table_df = table[1]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,NaN,NaN,NaN,NaN,Beginning Cash Balance as of 08/01/2023,NaN,NaN,0.00
1,08/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Rent Income,300.00,NaN,300.00
2,08/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Rent Income,425.00,NaN,725.00
3,08/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Pet Fee Income,25.00,NaN,750.00
4,08/01/2023,Jarod Turner,Receipt,NaN,Unit 7A - Rent Income,825.00,NaN,"1,575.00"
5,08/01/2023,Justin Vargas,Receipt,NaN,Unit 15A - Rent Income,725.00,NaN,"2,300.00"
6,08/01/2023,Whitney S.\rHunter,Receipt,NaN,Unit 4A - Rent Income,350.00,NaN,"2,650.00"
7,08/01/2023,Whitney S.\rHunter,Receipt,NaN,Unit 4A - Rent Income,225.00,NaN,"2,875.00"
8,08/01/2023,Whitney S.\rHunter,Receipt,NaN,Unit 4A - Pet Fee Income,25.00,NaN,"2,900.00"
9,08/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,188.00,NaN,"3,088.00"
10,08/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,217.96,NaN,"3,305.96"
11,08/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,188.00,NaN,"3,493.96"
12,08/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,131.04,NaN,"3,625.00"
13,08/01/2023,Ethan A.\rShelton,Receipt,NaN,Unit 5 - Rent Income,725.00,NaN,"4,350.00"
14,08/01/2023,Ethan A.\rShelton,Receipt,NaN,Unit 5 - Pet Fee Income,25.00,NaN,"4,375.00"
15,08/01/2023,Sakura's\rRestaurant,Receipt,NaN,Unit 6A - Rent Income,775.00,NaN,"5,150.00"
16,08/01/2023,Jorge D. Cruz,Receipt,NaN,Unit 4 - Rent Income,725.00,NaN,"5,875.00"
17,08/01/2023,Jesus Quintero,Receipt,NaN,Unit 11 - Rent Income,50.00,NaN,"5,925.00"
18,08/01/2023,Jerry Nunez,Receipt,NaN,Unit 14 - Rent Income,100.00,NaN,"6,025.00"
19,08/01/2023,Anibal Perez,Receipt,NaN,Unit 17 - Rent Income,200.00,NaN,"6,225.00"
20,08/01/2023,Anibal Perez,Receipt,NaN,Unit 17 - Rent Income,500.00,NaN,"6,725.00"
21,08/01/2023,Cindy Schutz,Receipt,NaN,Unit 8A - Rent Income,800.00,NaN,"7,525.00"
22,08/01/2023,Yulie Kilah,Receipt,NaN,Unit 16A - Rent Income,100.00,NaN,"7,625.00"
23,08/01/2023,Zonnie Kilah,Receipt,NaN,Unit 22 - Rent Income,50.00,NaN,"7,675.00"
24,08/01/2023,Lidia Kilah,eCheck,02EA-FC50,Unit 16A - Rent Income - August 2023,625.00,NaN,"8,300.00"

In [5]:
table = tabula.read_pdf(pdf, pages='2')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,NaN,NaN,receipt,NaN,NaN,NaN,NaN,NaN
1,08/01/2023,Zonnie Kilah,eCheck\rreceipt,03B0-EDA0,Unit 22 - Rent Income - August 2023,675.00,NaN,"8,975.00"
2,08/01/2023,Coby Potvin,CC\rreceipt,0525-4240,Unit 3 - Rent Income - August 2023,725.00,NaN,"9,700.00"
3,08/01/2023,Marta T.\rNovakovic,CC\rreceipt,12DE-0780,Unit 18 - Rent Income - August 2023,725.00,NaN,"10,425.00"
4,08/01/2023,Bethany R.\rWilliams,CC\rreceipt,1815-8F10,Unit 13 - Rent Income - August 2023,725.00,NaN,"11,150.00"
5,08/01/2023,Aidan\rMcGeown,CC\rreceipt,A92E-B650,Unit 15 - Rent Income - August 2023,358.30,NaN,"11,508.30"
6,08/01/2023,Andrei Cristian\rGalca Mitran,CC\rreceipt,1FEF-40F0,Unit 24 - Rent Income - August 2023,362.50,NaN,"11,870.80"
7,08/01/2023,Rochelle Diaz,Receipt,28769194170,Unit 19 - Rent Income - August 2023,625.00,NaN,"12,495.80"
8,08/01/2023,GUSTAVO P.\rGIESBRECHT,eCheck\rreceipt,E71E-7A60,Unit 6 - Rent Income - August 2023,181.25,NaN,"12,677.05"
9,08/02/2023,Sailor A. Fritts,Receipt,NaN,Unit 14A - Pet Fee Income,25.00,NaN,"12,702.05"
10,08/02/2023,Axel\rRunarsson,CC\rreceipt,1112-5FB0,Unit 12 - Rent Income - August 2023,362.50,NaN,"13,064.55"
11,08/02/2023,Christian\rBlount,eCheck\rreceipt,6DDE-F450,Unit 7 - Rent Income - August 2023,725.00,NaN,"13,789.55"
12,08/02/2023,Mitchell\rSatterwhite,eCheck\rreceipt,9CDC-4D10,Unit 3A - Rent Income - August 2023,575.00,NaN,"14,364.55"
13,08/02/2023,Ronaldo Jacob,CC\rreceipt,BEF4-E7E0,Unit 15 - Rent Income - August 2023,366.70,NaN,"14,731.25"
14,08/02/2023,Ashlyn\rRoutledge,eCheck\rreceipt,C205-2560,Unit 5A - Rent Income - Move In Charge: Rent\r...,476.00,NaN,"15,207.25"
15,08/02/2023,Samantha\rLong,eCheck\rreceipt,6591-B390,Unit 9 - Rent Income - August 2023,700.00,NaN,"15,907.25"
16,08/02/2023,Ashlyn\rRoutledge,eCheck\rreceipt,5034-51A0,Unit 5A - Rent Income - Move In Charge: Rent\r...,200.00,NaN,"16,107.25"
17,08/02/2023,Ashlyn\rRoutledge,CC\rreceipt,38B6-1BA0,Unit 5A - Rent Income - Move In Charge: Rent\r...,149.00,NaN,"16,256.25"
18,08/02/2023,Ashlyn\rRoutledge,eCheck\rreceipt,0A0E-F870,Unit 5A - Pet Fee Income - Move In Charge: Pet...,126.00,NaN,"16,382.25"
19,08/02/2023,Martin\rEsquivel,CC\rreceipt,DBB1-CE30,Unit 5A - Pet Fee Income - Move In Charge: Pet...,174.00,NaN,"16,556.25"
20,08/02/2023,Martin\rEsquivel,CC\rreceipt,DBB1-CE30,Unit 5A - Pet Fee Income,63.00,NaN,"16,619.25"
21,08/02/2023,Sebastian\rGonzalez,eCheck\rreceipt,5464-5FC0,Unit 5A - Pet Fee Income,237.00,NaN,"16,856.25"
22,08/03/2023,Krystle L. Bolt,CC\rreceipt,1591-2240,Unit 23 - Rent Income - August 2023,725.00,NaN,"17,581.25"
23,08/03/2023,Krystle L. Bolt,CC\rreceipt,1591-2240,Unit 23 - Pet Fee Income - August 2023 - Pet f...,25.00,NaN,"17,606.25"
24,08/03/2023,Skyla L. Davis,CC\rreceipt,5760-E120,Unit 14A - Rent Income - August 2023,725.00,NaN,"18,331.25"
25,08/03/2023,Airyka Alpers,CC\rreceipt,C9D0-9410,Unit 13A - Rent Income - August 2023,700.00,NaN,"19,031.25"
26,08/03/2023,Sullivan\rConstruction,Check,8145,Unit 14A - Repairs - GV#14A- changed door lock...,NaN,120.02,"18,911.23"
27,08/03/2023,Sullivan\rConstruction,Check,8145,Unit 11A - Repairs - GV#11A- installed new doo...,NaN,120.02,"18,791.21"
28,08/03/2023,Tiffany Huffins,Check,8146,Cleaning - GV- Cleaning Parking lot - GV- Clea...,NaN,60.00,"18,731.21"

In [6]:
table = tabula.read_pdf(pdf, pages='3')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,NaN,NaN,NaN,NaN,Parking lot,NaN,NaN,NaN
1,08/03/2023,Tiffany Huffins,Check,8146,Cleaning - GV#21- Cleaning - GV#21- Cleaning,NaN,100.00,"18,631.21"
2,08/03/2023,Tiffany Huffins,Check,8146,Unit 2 - Cleaning - GV#2- Cleaning - GV#2-\rCl...,NaN,100.00,"18,531.21"
3,08/03/2023,Tiffany Huffins,Check,8146,Unit 5A - Cleaning - GV#5A- Cleaning - GV#5A-\...,NaN,100.00,"18,431.21"
4,08/03/2023,Tiffany Huffins,Check,8147,Unit 10A - Cleaning - GV#10A- Cleaning - GV#10...,NaN,100.00,"18,331.21"
5,08/03/2023,Tiffany Huffins,Check,8147,Unit 14A - Cleaning - GV#14A- Cleaning - GV#14...,NaN,100.00,"18,231.21"
6,08/03/2023,Grunt Works\rProperty\rImprovements,Check,8153,Unit 2A - Repairs - GV#2A- resolved light issu...,NaN,25.00,"18,206.21"
7,08/04/2023,Fabian A.\rMartinez,CC\rreceipt,2D06-BFC0,Unit 24 - Rent Income - August 2023,182.00,NaN,"18,388.21"
8,08/04/2023,Jerry Nunez,Receipt,19-476637739,Unit 14 - Rent Income - August 2023,600.00,NaN,"18,988.21"
9,08/04/2023,John E. Taylor,Receipt,2092,Unit 2A - Rent Income - August 2023,600.00,NaN,"19,588.21"
10,08/04/2023,Nathan B.\rHawkins,Receipt,22-038538342,Unit 1 - Utility Payments from Tenants - 2501 ...,148.79,NaN,"19,737.00"
11,08/04/2023,Cody Parker,Receipt,035390,Unit 8 - Rent Income - June 2023,600.00,NaN,"20,337.00"
12,08/04/2023,Cody Parker,Receipt,035390,Unit 8 - Late Fee Income - Late Fee for Jun 2023,50.00,NaN,"20,387.00"
13,08/04/2023,Cody Parker,Receipt,035390,Unit 8 - Rent Income - Final rent month of the...,650.00,NaN,"21,037.00"
14,08/04/2023,Fabian A.\rMartinez,CC\rreceipt,F2AB-9290,Unit 24 - Rent Income - August 2023,180.50,NaN,"21,217.50"
15,08/04/2023,Hunter B.\rMedrano,eCheck\rreceipt,0DC0-B160,Unit 12A - Rent Income - Move In Charge: Rent\...,654.84,NaN,"21,872.34"
16,08/04/2023,Joshua D.\rNicholson,CC\rreceipt,A45C-9680,Unit 1 - Rent Income - August 2023,725.00,NaN,"22,597.34"
17,08/04/2023,Pedro Mota,eCheck\rreceipt,02B4-0FD0,Unit 6 - Rent Income - August 2023,543.75,NaN,"23,141.09"
18,08/04/2023,Entergy-\rGeneral,Check,8158,Unit 4 - Utilities - 2501 Case #4- Entergy Bil...,NaN,63.37,"23,077.72"
19,08/04/2023,Joshua D.\rNicholson,CC\rreceipt,F20F-A580,Unit 1 - Utility Payments from Tenants - 2501 ...,79.53,NaN,"23,157.25"
20,08/04/2023,Batesville\rWater Utilities,Check,8160,Unit 25 - Utilities - 2501 Case St. #25- Water...,NaN,82.60,"23,074.65"
21,08/04/2023,Batesville\rWater Utilities,Check,8160,Unit 12A - Utilities - 2575 Case #12A- Water B...,NaN,20.00,"23,054.65"
22,08/04/2023,Batesville\rWater Utilities,Check,8160,Utilities - 2501 Case St. Spigot- Water Bill -...,NaN,12.20,"23,042.45"
23,08/04/2023,Batesville\rWater Utilities,Check,8160,Unit 1 - Utilities - 2501 Case #1- Water Bill ...,NaN,79.53,"22,962.92"
24,08/04/2023,Batesville\rWater Utilities,Check,8160,Unit 10 - Utilities - 2501 Case #10- Water Bil...,NaN,20.00,"22,942.92"
25,08/04/2023,McClure\rPlumbing,Check,8163,Unit 3 - Repairs - GV#3- bathroom is flooding ...,NaN,181.25,"22,761.67"
26,08/04/2023,Batesville\rWater Utilities,Check,8165,Unit 4 - Utilities - 2501 Case #4- Final Water...,NaN,43.31,"22,718.36"
27,08/04/2023,Batesville\rWater Utilities,Check,8165,Unit 8 - Utilities - 2501 Case #8-FinalWater B...,NaN,43.31,"22,675.05"
28,08/05/2023,Jackson W.\rHarrod,CC\rreceipt,33AA-99E0,Unit 12 - Rent Income - August 2023,362.50,NaN,"23,037.55"
29,08/05/2023,Judy Ellis,eCheck\rreceipt,5427-9610,Unit 20 - Rent Income - August 2023,625.00,NaN,"23,662.55"

In [7]:
table = tabula.read_pdf(pdf, pages='5')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,08/14/2023,Justin\rDeMoulpied,Receipt,NaN,Unit 10A - Clearing Account - Transfer of\rPre...,25.00,NaN,"4,387.57"
1,08/14/2023,Justin\rDeMoulpied,Check,8239,Unit 10A - Clearing Account - Justin DeMoulpie...,NaN,25.00,"4,362.57"
2,08/14/2023,NaN,Bank\rTransfer,NaN,"Tonya Elms, Greenwich Village - Unit 12A: Secu...",625.00,NaN,"4,987.57"
3,08/14/2023,Metro\rAppliance &\rMore Inc,Check,8242,Unit 8 - Appliance Purchased - GV#8- Amana\rRa...,NaN,535.70,"4,451.87"
4,08/14/2023,Justice M.\rYarmon,Reversed\reCheck\rreceipt,E921-87E0,Unit 8 - Rent Income - August 2023,725.00,NaN,"5,176.87"
5,08/14/2023,Justice M.\rYarmon,Reversed\reCheck\rreceipt,E921-87E0,Unit 8 - Late Fee Income - Late Fee for Aug 2023,100.00,NaN,"5,276.87"
6,08/15/2023,Sullivan\rConstruction,Check,8253,Unit 8 - Repairs - GV#8- checked ac system -\r...,NaN,90.75,"5,186.12"
7,08/17/2023,Tiffany Huffins,Check,8257,Unit 10A - Cleaning - GV#10A- Cleaning - GV#10...,NaN,100.00,"5,086.12"
8,08/17/2023,Tiffany Huffins,Check,8257,Unit 10 - Cleaning - GV#10- Cleaning - GV#10-\...,NaN,100.00,"4,986.12"
9,08/17/2023,Tiffany Huffins,Check,8257,Cleaning - GV- Cleaning Parking Lot - GV- Clea...,NaN,60.00,"4,926.12"
10,08/17/2023,Silvia Onely\rVega Sanchez,Check,8260,Lawn Service - GV- Lawn Service - GV- Lawn\rSe...,NaN,210.00,"4,716.12"
11,08/17/2023,Entergy-\rGeneral,Check,8264,Unit 12A - Utilities - 2575 Case #12 A- Final ...,NaN,32.95,"4,683.17"
12,08/17/2023,Home Depot,Payment,8/17/2023,Unit 9A - Supplies - GV#9A- toilet - GV#9A- to...,NaN,108.90,"4,574.27"
13,08/17/2023,Home Depot,Payment,8/17/2023,Unit 21 - Supplies - GV#21- paint supplies & b...,NaN,305.69,"4,268.58"
14,08/17/2023,Home Depot,Payment,8/17/2023,Unit 12A - Supplies - GV#12A- ceiling fan -\rG...,NaN,65.97,"4,202.61"
15,08/17/2023,Home Depot,Payment,8/17/2023,Unit 10A - Supplies - GV#10A-drywall repair ki...,NaN,310.53,"3,892.08"
16,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8266,Unit 9 - Repairs - 2501 Case #9- investigating...,NaN,50.00,"3,842.08"
17,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8266,Unit 7A - Repairs - 2575 Case #7A- repaired ho...,NaN,100.00,"3,742.08"
18,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8266,Unit 10A - Repairs - 2575 Case 10 A & 21- comp...,NaN,800.00,"2,942.08"
19,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8266,Unit 8A - Repairs - 2575 Case #8A- change ligh...,NaN,150.00,"2,792.08"
20,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8266,Unit 9A - Repairs - 2575 Case #9A- replaced to...,NaN,75.00,"2,717.08"
21,08/18/2023,Grunt Works\rProperty\rImprovements,Check,8345,Unit 5A - Repairs - GV#5A- addressed water\rin...,NaN,50.00,"2,667.08"
22,08/18/2023,Roland A.\rMiles,CC\rreceipt,6B32-8D30,Unit 21 - Rent Income - Move In Charge: Rent\r...,327.42,NaN,"2,994.50"
23,08/18/2023,Justice M.\rYarmon,Reverse\rReceipt,NaN,Unit 8 - Rent Income - NSF reversal receipt fo...,NaN,725.00,"2,269.50"
24,08/18/2023,Justice M.,Reverse,NaN,Unit 8 - Late Fee Income - NSF reversal receip...,NaN,100.00,"2,169.50"

In [8]:
table = tabula.read_pdf(pdf, pages='7')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,08/28/2023,"Rich Realty of\rBatesville, Inc",Check,8305,Mgn Fees - Mgn Fees for 08/2023,NaN,52.63,"1,700.28"
1,08/28/2023,Justice M.\rYarmon,eCheck\rreceipt,C534-C5A0,Unit 8 - Rent Income - August 2023,535.0,NaN,"2,235.28"
2,08/30/2023,Tiffany Huffins,Check,8313,Cleaning - GV- Cleaning Parking Lot - GV- Clea...,NaN,60.00,"2,175.28"
3,08/30/2023,Entergy-\rGeneral,Check,8315,Unit 21 - Utilities - 2501 Case #21- Final Ent...,NaN,61.44,"2,113.84"
4,08/30/2023,Eagle Pest\rManagement\rLLC.,Check,8316,Pest Control Service - 2501 Case- one time ser...,NaN,99.00,"2,014.84"
5,08/31/2023,McClure\rPlumbing,Check,8321,Unit 7 - Repairs - GV#7- Roto Rooter & Plumbin...,NaN,561.00,"1,453.84"
6,08/31/2023,Silvia Onely\rVega Sanchez,Check,8325,Lawn Service - GV- Cut Grass & cleared brush f...,NaN,330.00,"1,123.84"
7,09/01/2023,Ethan A.\rShelton,Receipt,NaN,Unit 5 - Rent Income,725.0,NaN,"1,848.84"
8,09/01/2023,Ethan A.\rShelton,Receipt,NaN,Unit 5 - Pet Fee Income,25.0,NaN,"1,873.84"
9,09/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Rent Income,100.0,NaN,"1,973.84"
10,09/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Rent Income,625.0,NaN,"2,598.84"
11,09/01/2023,Jarod Turner,Receipt,NaN,Unit 7A - Rent Income,825.0,NaN,"3,423.84"
12,09/01/2023,Ryan Jenkins,Receipt,NaN,Unit 5A - Rent Income,207.0,NaN,"3,630.84"
13,09/01/2023,Justin Vargas,Receipt,NaN,Unit 15A - Rent Income,725.0,NaN,"4,355.84"
14,09/01/2023,Roland A.\rMiles,Receipt,NaN,Unit 21 - Rent Income,725.0,NaN,"5,080.84"
15,09/01/2023,Joshua D.\rNicholson,Receipt,NaN,Unit 1 - Rent Income,725.0,NaN,"5,805.84"
16,09/01/2023,Sakura's\rRestaurant,Receipt,NaN,Unit 6A - Rent Income,775.0,NaN,"6,580.84"
17,09/01/2023,Jorge D. Cruz,Receipt,NaN,Unit 4 - Rent Income,725.0,NaN,"7,305.84"
18,09/01/2023,Bethany R.\rWilliams,Receipt,NaN,Unit 13 - Rent Income,725.0,NaN,"8,030.84"
19,09/01/2023,Whitney S.\rHunter,Receipt,NaN,Unit 4A - Rent Income,300.0,NaN,"8,330.84"
20,09/01/2023,Ryan Jenkins,Receipt,NaN,Unit 5A - Rent Income,207.0,NaN,"8,537.84"
21,09/01/2023,Jerry Nunez,Receipt,NaN,Unit 14 - Rent Income,150.0,NaN,"8,687.84"
22,09/01/2023,Anibal Perez,Receipt,NaN,Unit 17 - Rent Income,200.0,NaN,"8,887.84"
23,09/01/2023,Anibal Perez,Receipt,NaN,Unit 17 - Rent Income,500.0,NaN,"9,387.84"
24,09/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,200.0,NaN,"9,587.84"
25,09/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,182.0,NaN,"9,769.84"
26,09/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,185.0,NaN,"9,954.84"
27,09/01/2023,Kaitlin Ginn,Receipt,NaN,Unit 9A - Rent Income,158.0,NaN,"10,112.84"
28,09/01/2023,Yulie Kilah,Receipt,NaN,Unit 16A - Rent Income,125.0,NaN,"10,237.84"
29,09/01/2023,Zonnie Kilah,Receipt,NaN,Unit 22 - Rent Income,50.0,NaN,"10,287.84"
30,09/01/2023,Twyla M.\rTaylor,Receipt,NaN,Unit 2A - Rent Income,600.0,NaN,"10,887.84"
31,09/01/2023,Pedro Mota,Receipt,NaN,Unit 6 - Rent Income,175.0,NaN,"11,062.84"
32,09/01/2023,Pedro Mota,Receipt,NaN,Unit 6 - Rent Income,175.0,NaN,"11,237.84"
33,09/01/2023,Hunter B.,Receipt,NaN,Unit 12A - Rent Income,725.0,NaN,"11,962.84"

In [9]:
table = tabula.read_pdf(pdf, pages='8')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,NaN,Medrano,NaN,NaN,NaN,NaN,NaN,NaN
1,09/01/2023,Joe D. Rocole,Receipt,NaN,Unit 10A - Rent Income,725.00,NaN,"12,687.84"
2,09/01/2023,Lidia Kilah,eCheck\rreceipt,25D7-2790,Unit 16A - Rent Income - September 2023,600.00,NaN,"13,287.84"
3,09/01/2023,Zonnie Kilah,eCheck\rreceipt,26C9-CFE0,Unit 22 - Rent Income - September 2023,675.00,NaN,"13,962.84"
4,09/01/2023,Coby Potvin,CC\rreceipt,27E6-DCD0,Unit 3 - Rent Income - September 2023,725.00,NaN,"14,687.84"
5,09/01/2023,Marta T.\rNovakovic,CC\rreceipt,33E2-4C00,Unit 18 - Rent Income - September 2023,725.00,NaN,"15,412.84"
6,09/01/2023,jastan N.\rburnes,Receipt,NaN,Unit 11A - Pet Fee Income,25.00,NaN,"15,437.84"
7,09/01/2023,Andrei Cristian\rGalca Mitran,eCheck\rreceipt,4294-EB50,Unit 24 - Rent Income - September 2023,362.50,NaN,"15,800.34"
8,09/01/2023,Whitney S.\rHunter,Receipt,Receipt 940581,Unit 4A - Rent Income - September 2023,275.00,NaN,"16,075.34"
9,09/01/2023,Whitney S.\rHunter,Receipt,Receipt 940581,Unit 4A - Pet Fee Income - September 2023,25.00,NaN,"16,100.34"
10,09/01/2023,Krystle L. Bolt,CC\rreceipt,1338-D660,Unit 23 - Rent Income - September 2023,725.00,NaN,"16,825.34"
11,09/01/2023,Krystle L. Bolt,CC\rreceipt,1338-D660,Unit 23 - Pet Fee Income - September 2023 - Pe...,25.00,NaN,"16,850.34"
12,09/01/2023,Jackson W.\rHarrod,Receipt,6514,Unit 12 - Rent Income - September 2023,280.00,NaN,"17,130.34"
13,09/01/2023,Amanda\rGrooms,Check,8334,Unit 10 - Cleaning - GV#10- Cleaning - GV#10-\...,NaN,170.0,"16,960.34"
14,09/01/2023,Justice M.\rYarmon,CC\rreceipt,F7BA-F4F0,Unit 8 - Rent Income - August 2023,50.00,NaN,"17,010.34"
15,09/01/2023,Rochelle Diaz,Receipt,MO\r#28769187892,Unit 19 - Rent Income - September 2023,625.00,NaN,"17,635.34"
16,09/01/2023,Airyka Alpers,CC\rreceipt,DE76-BD60,Unit 13A - Rent Income - September 2023,700.00,NaN,"18,335.34"
17,09/01/2023,Christian\rBlount,eCheck\rreceipt,F9A2-C5F0,Unit 7 - Rent Income - September 2023,725.00,NaN,"19,060.34"
18,09/01/2023,Evan W.\rVickers,CC\rreceipt,209D-2A20,Unit 2 - Rent Income - September 2023,725.00,NaN,"19,785.34"
19,09/01/2023,Skyla L. Davis,CC\rreceipt,5C06-D220,Unit 14A - Rent Income - September 2023,725.00,NaN,"20,510.34"
20,09/01/2023,Skyla L. Davis,CC\rreceipt,5C06-D220,Unit 14A - Pet Fee Income - September 2023 - Cat,25.00,NaN,"20,535.34"
21,09/01/2023,Samantha\rLong,eCheck\rreceipt,8049-10E0,Unit 9 - Rent Income - September 2023,725.00,NaN,"21,260.34"
22,09/01/2023,Samantha\rLong,eCheck\rreceipt,8049-10E0,Unit 9 - Pet Fee Income - September 2023 - Cat,25.00,NaN,"21,285.34"
23,09/01/2023,Jerry Nunez,Receipt,NaN,Unit 14 - Rent Income - September 2023,550.00,NaN,"21,835.34"
24,09/02/2023,Justice M.\rYarmon,CC\rreceipt,716E-4C10,Unit 8 - Rent Income - August 2023,75.00,NaN,"21,910.34"
25,09/02/2023,Justice M.\rYarmon,CC\rreceipt,716E-4C10,Unit 8 - Rent Income - September 2023,15.01,NaN,"21,925.35"
26,09/02/2023,Martin\rEsquivel,CC\rreceipt,6FC7-BD10,Unit 5A - Rent Income - September 2023,205.00,NaN,"22,130.35"
27,09/02/2023,Mitchell\rSatterwhite,eCheck\rreceipt,9216-BF80,Unit 3A - Rent Income - September 2023,575.00,NaN,"22,705.35"
28,09/03/2023,Ronaldo Jacob,CC\rreceipt,0326-B800,Unit 15 - Rent Income - September 2023,181.25,NaN,"22,886.60"

In [10]:
table = tabula.read_pdf(pdf, pages='9')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,09/04/2023,Aidan\rMcGeown,CC\rreceipt,D118-8440,Unit 15 - Rent Income - September 2023,358.00,NaN,"23,244.60"
1,09/04/2023,Ronaldo Jacob,CC\rreceipt,AF13-E110,Unit 15 - Rent Income - September 2023,185.75,NaN,"23,430.35"
2,09/04/2023,Axel\rRunarsson,CC\rreceipt,82E7-B700,Unit 12 - Rent Income - September 2023,165.00,NaN,"23,595.35"
3,09/04/2023,Fabian A.\rMartinez,CC\rreceipt,2CFF-F960,Unit 24 - Rent Income - September 2023,362.50,NaN,"23,957.85"
4,09/05/2023,Axel\rRunarsson,CC\rreceipt,F2CB-F860,Unit 12 - Rent Income - September 2023,280.00,NaN,"24,237.85"
5,09/05/2023,Rickey Love,Receipt,940583,Unit 1A - Rent Income - September 2023,300.00,NaN,"24,537.85"
6,09/05/2023,Ashlyn\rRoutledge,eCheck\rreceipt,CFC9-8F00,Unit 5A - Rent Income - September 2023,206.00,NaN,"24,743.85"
7,09/05/2023,Rafael\rCampos,CC\rreceipt,8522-CD50,Unit 6 - Rent Income - September 2023,375.00,NaN,"25,118.85"
8,09/05/2023,Sullivan\rConstruction,Check,8349,Unit 11 - Repairs - GV#11- break in & change l...,NaN,122.85,"24,996.00"
9,09/05/2023,McClure\rPlumbing,Check,8350,Unit 1A - Repairs - GV#1A- sucked out drain li...,NaN,180.00,"24,816.00"
10,09/05/2023,McClure\rPlumbing,Check,8351,Unit 14 - Repairs - GV#14- fixed kitchen sink ...,NaN,90.50,"24,725.50"
11,09/05/2023,McClure\rPlumbing,Check,8351,Unit 8A - Repairs - GV#8A- repaired commode -\...,NaN,113.00,"24,612.50"
12,09/05/2023,Judy Ellis,Receipt,13030487,Unit 20 - Rent Income - September 2023,625.00,NaN,"25,237.50"
13,09/05/2023,Entergy-\rGeneral,Check,8353,Unit 10 - Utilities - 2501 Case #10- Entergy B...,NaN,60.18,"25,177.32"
14,09/05/2023,Amanda\rGrooms,Check,8356,Unit 11 - Cleaning - GV#11- Cleaning - GV#11-\...,NaN,220.00,"24,957.32"
15,09/07/2023,Amanda\rGrooms,Check,8370,Unit 11 - Cleaning - GV#11- Cleaning - GV#11-\...,NaN,40.00,"24,917.32"
16,09/07/2023,Grunt Works\rProperty\rImprovements,Check,8372,Unit 12A - Repairs - GV#12A Repairs - GV#12A\r...,NaN,25.00,"24,892.32"
17,09/07/2023,Grunt Works\rProperty\rImprovements,Check,8372,Unit 3 - Repairs - GV#3- repairs - GV#3- repairs,NaN,25.00,"24,867.32"
18,09/07/2023,Grunt Works\rProperty\rImprovements,Check,8372,Unit 16 - Repairs - GV#16- replaced vent hood ...,NaN,100.00,"24,767.32"
19,09/07/2023,Rickey Love,Receipt,573455,Unit 1A - Rent Income - September 2023,225.00,NaN,"24,992.32"
20,09/07/2023,Amanda\rGrooms,Check,8380,Unit 11 - Cleaning - GV#11- Cleaning - GV#11-\...,NaN,80.00,"24,912.32"
21,09/07/2023,Justice M.\rYarmon,CC\rreceipt,FA64-0E30,Unit 8 - Rent Income - September 2023,100.00,NaN,"25,012.32"
22,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8384,Mgn Fees - Mgn Fees for 09/2023,NaN,"2,149.00","22,863.32"
23,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8385,Unit 12A - 1st Mo Rent Mgn Fee- Expense - 1st ...,NaN,362.50,"22,500.82"
24,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8385,Unit 2 - 1st Mo Rent Mgn Fee- Expense - 1st Mo...,NaN,362.50,"22,138.32"
25,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8385,Unit 21 - 1st Mo Rent Mgn Fee- Expense - 1st M...,NaN,362.50,"21,775.82"
26,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8385,Unit 10A - 1st Mo Rent Mgn Fee- Expense - 1st ...,NaN,362.50,"21,413.32"

In [11]:
table = tabula.read_pdf(pdf, pages='10')
table_df = table[0]
table_dfs.append(table_df)
table_df

,Date,Payee / Payer,Type,Reference,Description,Income,Expense,Balance
0,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8385,Unit 9 - Lease Renewal 1/4 fee - Lease Renewal...,NaN,181.25,"21,232.07"
1,09/08/2023,"Rich Realty of\rBatesville, Inc",Check,8388,Mgn Fees - Mgn Fees for 08/2023,NaN,53.50,"21,178.57"
2,09/08/2023,"Greenwich\rVillage, LLC",eCheck,2CCB-5E18,Owner Draw - Owner payment for 09/2023,NaN,"18,178.57","3,000.00"
3,NaN,NaN,NaN,NaN,Ending Cash Balance,NaN,NaN,"3,000.00"
4,"Total57,047.0554,047.05",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(table_dfs)

8

In [31]:
table_dfs[7].to_excel('Data/1.xlsx',index = False)